* { 
    box-sizing: border-box;
}


html, body {
    margin: 0;
    font-family:  'Roboto', arial;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
}

body, main, footer {
    text-align: center;
}


header, form, main {
    margin:0 auto 70px auto;
    width: 90%;
    max-width: 500px;

}


header h1, main h2 {
    margin-bottom: 70px;
    color: #8B0000;

}


header p {
    font-size: 15px;
}


.logo {
    width: 130px;
    margin: 30px 0;
}

button {
    padding:  8px 16px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: red;
    color: black;
}

section#form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    align-items: center;
    background-color: #B22222;
    border-radius: 6px;
    margin: auto;


}



section form h2 {
    text-align: right;
    font-size: 18px;
}

#form input, #form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    border: 1px whitesmoke solid;

}


form input {
    background-color: transparent;
}

form input::placeholder {
    color: black solid;
    font-weight: bolder;

}

/* main section */

main h2 span {
color: #B22222;

}


section .donors {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;    
    flex-wrap: wrap;  
}


.donor {
    grid-row: 2;
    color: black;
    font-size: 15px;
    margin-top: 24px;
}
}

/* footer */
footer {
    margin-top: auto;
    padding: 16px;
    border: 1px #eee solid;
}


.bloodtype {
    color: #800000;
    font-weight: bolder;
    font-size: 12px;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.bloodtype::before {
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;
    position: absolute;

    /* formato de gota */
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

/* funcionalidades com js */ 
section#form {
    transition: all 300ms;
}


section#form.hide {
    opacity: 0;
    height: 0;
    margin-top: -70px;
}